@import '../../../globals/variables.module.scss';

.root {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: $lesson-bg-color;
    font-family: $font-family-text;
    padding: $lesson-padding;
    gap: $lesson-gap;

    .playground {
        overflow: hidden;
        background-color: $playground-bg-color;
        border-radius: $playground-border-radius;
        width: $playground-width;
        height: $playground-height;

        // lesson specific
        background-image: url('https://static.wixstatic.com/shapes/68d3a9_a07b91a8d94d40569eff215e0529ca9a.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
}

.sparkles {
    width: $playground-width;
    height: $playground-height;
    background-image: url('https://static.wixstatic.com/media/68d3a9_238102768ac745488af7d6dad41a296e~mv2.gif');
}
