/* Madefor for Text*/
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 400 800;
        font-style: normal;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforTextVF_W_Wght.8022447a.woff2)
            format('woff2-variations');
    }

    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 400 800;
        font-style: italic;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforTextItalicVF_W_Wght.54ac8fe3.woff2)
            format('woff2-variations');
    }
}

/* Madefor - legacy browsers */
@supports not (font-variation-settings: normal) {
    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 400;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Rg.5a5798be.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Rg.1a0ca11a.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_Rg.c16c286e.ttf)
                format('truetype');
    }

    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 400;
        font-style: italic;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Rg_It.12f3cd9d.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Rg_It.8e17780b.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_It.b0a86715.ttf)
                format('truetype');
    }

    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 700;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Bd.9d07f9d7.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Bd.1b77caba.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_Bd.d27ace57.ttf)
                format('truetype');
    }

    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 700;
        font-style: italic;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Bd_It.31766fc9.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_Bd_It.95574030.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_BdIt.9aa62c7d.ttf)
                format('truetype');
    }

    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 800;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_XBd.bcb42c9a.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_XBd.068dbf77.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_XBd.9182eef9.ttf)
                format('truetype');
    }

    @font-face {
        font-family: Madefor;
        font-display: swap;
        font-weight: 800;
        font-style: italic;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_XBd_It.9d580e0e.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_W_XBd_It.631cda9a.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforText_XBdIt.e5d9e9bc.ttf)
                format('truetype');
    }
}

/* Madefor Display */
@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'MadeforDisplay';
        font-display: swap;
        font-weight: 400 800;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplayVF_W_Wght.ab35e4df.woff2)
            format('woff2-variations');
    }
}

/* Madefor Display - legacy browsers */
@supports not (font-variation-settings: normal) {
    @font-face {
        font-family: 'MadeforDisplay';
        font-display: swap;
        font-weight: 400;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_W_Rg.ff9d13f7.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_W_Rg.ad2de8e2.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_Rg.494c353a.ttf)
                format('truetype');
    }

    @font-face {
        font-family: 'MadeforDisplay';
        font-display: swap;
        font-weight: 700;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_W_Bd.ef7750b0.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_W_Bd.19d33326.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_Bd.2f194651.ttf)
                format('truetype');
    }

    @font-face {
        font-family: 'MadeforDisplay';
        font-display: swap;
        font-weight: 800;
        src: url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_W_XBd.2d185bee.woff2)
                format('woff2'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_W_XBd.a106949f.woff)
                format('woff'),
            url(https://static.parastorage.com/unpkg/@wix/wix-fonts@1.14.0/media/WixMadeforDisplay_XBd.bc872c83.ttf)
                format('truetype');
    }
}

body {
    margin: 0;
    font-family: Madefor, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
